<section class="counters">

  <div matTooltip="Happy">
    <mat-progress-spinner
      class="custom-badge progress-bar"
      value="{{ smileFaceCounter }}"
    >
    </mat-progress-spinner>
    <div class="spinner-label">
      <mat-icon> sentiment_satisfied_alt </mat-icon>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div matTooltip="Sad">
    <mat-progress-spinner
      color="accent"
      class="custom-badge progress-bar"
      value="{{ sadFaceCounter }}"
    >
    </mat-progress-spinner>
    <div class="spinner-label">
      <mat-icon> sentiment_dissatisfied </mat-icon>
    </div>
  </div>


  <mat-divider></mat-divider>

  <div matTooltip="Angry">
    <mat-progress-spinner
      class="custom-badge progress-bar"
      value="{{ angryFaceCounter }}"
      color="warn"
    >
    </mat-progress-spinner>
    <div class="spinner-label">
      <mat-icon> sentiment_very_dissatisfied </mat-icon>
    </div>
  </div>
</section>
<div class="button">
  <button mat-button color="warn" (click)="resetCounter()" disabled="{{shouldDisableButton}}">Reset?</button>
</div>


