.counters {
  width: 80%;
  margin: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-around;
}
:host {
  width: 100%;
}

.progress-bar {
  margin: 0 0 1rem 0;
  height: 1.5rem;
  border-radius: 30px;
}

.spinner-label {
  position: relative;
  top: -75px;
  left: 55px;
  color: aliceblue;
  transform: scale(1.5);
  user-select: none;
}

.button {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.button button:disabled {
  color: aliceblue;
}
