.info {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  position: absolute;
}

.font {
  font-size: smaller;
  text-align: center;
}
